@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.animate-fluid-bounce {
  animation: spin-animation 2s infinite;
}
@keyframes spin-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-8px);
    animation-timing-function: cubic-bezier(0.8, 0.2, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  75% {
    transform: translateY(-4px);
    animation-timing-function: cubic-bezier(0.8, 0.2, 1, 1);
  }
}

.smooth-link {
  position: relative;
}
.smooth-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: currentColor;
  transition: width 0.3s ease;
}
.smooth-link:hover::after,
.smooth-link.active::after {
  width: 100%;
}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 2s ease-out forwards;
}
.hover\:underline-animation-b {
  position: relative;
  overflow: hidden;
}

.hover\:underline-animation-b::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0e7d1b; /* Culoare underline */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover\:underline-animation-b:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
